In [2]:
import ConnectionConfig as cc
from delta import DeltaTable

cc.setupEnvironment()
spark = cc.startLocalCluster("factRides")
spark.getActiveSession()

In [ ]:
cc.set_connectionProfile("default")
ride_src_df = spark.read \
    .format("jdbc") \
    .option("url", cc.create_jdbc()) \
    .option("driver" , cc.get_Property("driver")) \
    .option("dbtable", "rides") \
    .option("user", cc.get_Property("username")) \
    .option("password", cc.get_Property("password")) \
    .option("partitionColumn", "rideid") \
    .option("numPartitions", 4) \
    .option("lowerBound", 0) \
    .option("upperBound", 5000) \
    .load()

ride_src_df.show()

+------+-----------------+-----------------+-------------------+-------------------+---------+--------------+-----------+---------+
|rideid|       startpoint|         endpoint|          starttime|            endtime|vehicleid|subscriptionid|startlockid|endlockid|
+------+-----------------+-----------------+-------------------+-------------------+---------+--------------+-----------+---------+
|     1|(51.2083,4.44595)|(51.1938,4.40228)|2015-09-22 00:00:00|2012-09-22 00:00:00|      844|         13296|       4849|     3188|
|     2|(51.2174,4.41597)|(51.2188,4.40935)|2015-09-22 00:00:00|2012-09-22 00:00:00|     4545|         45924|       NULL|     NULL|
|     3|(51.2088,4.40834)|(51.2077,4.39846)|2015-09-22 00:00:00|2012-09-22 00:00:00|     3419|         25722|       2046|     1951|
|     4|(51.2023,4.41208)|(51.2119,4.39894)|2015-09-22 00:00:00|2012-09-22 00:00:00|     1208|         31000|       1821|     2186|
|     5|(51.1888,4.45039)|(51.2221,4.40467)|2015-09-22 00:00:00|2012-09-22 00:00:00|     5536|         59732|       6382|     2700|
|     6|(51.2159,4.41073)|(51.2191,4.41596)|2015-09-22 00:00:00|2012-09-22 00:00:00|     6336|          NULL|       NULL|     NULL|
|     7|(51.2038,4.42077)|(51.2055,4.39933)|2015-09-22 00:00:00|2012-09-22 00:00:00|     4045|         31055|       1388|     3401|
|     8| (51.2191,4.3949)|  (51.2281,4.409)|2015-09-22 00:00:00|2012-09-22 00:00:00|     2015|         65164|       2572|       13|
|     9|(51.2182,4.41238)| (51.209,4.43266)|2015-09-22 00:00:00|2012-09-22 00:00:00|     5298|         71164|         50|     2067|
|    10|(51.2196,4.41724)|(51.2143,4.41316)|2015-09-22 00:00:00|2012-09-22 00:00:00|     6332|         68426|       NULL|     NULL|
|    11|(51.2179,4.41777)| (51.211,4.40724)|2015-09-22 00:00:00|2012-09-22 00:00:00|     1400|           999|        985|     2148|
|    12|(51.2088,4.40834)|(51.2145,4.44373)|2015-09-22 00:00:00|2012-09-22 00:00:00|      957|         59847|       2039|     3038|
|    13|(51.1744,4.40334)|(51.2228,4.42426)|2015-09-22 00:00:00|2012-09-22 00:00:00|     5413|          5045|       5619|     2717|
|    14|   (51.25,4.4209)|   (51.25,4.4209)|2015-09-22 00:00:00|2012-09-22 00:00:00|     2658|         65816|       3531|     3554|
|    15|(51.2083,4.44595)|(51.1938,4.40228)|2019-09-22 08:46:43|2019-09-22 09:01:36|      844|         13296|       4849|     3188|
|    16|(51.2174,4.41597)|(51.2188,4.40935)|2019-09-22 08:19:51|2019-09-22 08:21:55|     4545|         45924|       NULL|     NULL|
|    17|(51.2088,4.40834)|(51.2077,4.39846)|2019-09-22 08:27:38|2019-09-22 08:30:25|     3419|         25722|       2046|     1951|
|    18|(51.2023,4.41208)|(51.2119,4.39894)|2019-09-22 08:41:48|2019-09-22 08:46:52|     1208|         31000|       1821|     2186|
|    19|(51.1888,4.45039)|(51.2221,4.40467)|2019-09-22 08:50:08|2019-09-22 09:09:02|     5536|         59732|       6382|     2700|
|    20|(51.2159,4.41073)|(51.2191,4.41596)|2019-09-22 08:29:42|2019-09-22 08:31:40|     6336|          NULL|       NULL|     NULL|
+------+-----------------+-----------------+-------------------+-------------------+---------+--------------+-----------+---------+
only showing top 20 rows

In [4]:
dim_date = spark.read.format("delta").load("spark-warehouse/date_dim")
dim_date.show()

+--------+----------+----+----------+--------+---------+------+----------+-------+
| date_sk|      date|year|month_name|month_nr| day_name|day_nr|is_weekday|quarter|
+--------+----------+----+----------+--------+---------+------+----------+-------+
|20090101|2009-01-01|2009|   January|       1| Thursday|     5|         Y|      1|
|20090102|2009-01-02|2009|   January|       1|   Friday|     6|         Y|      1|
|20090103|2009-01-03|2009|   January|       1| Saturday|     7|         N|      1|
|20090104|2009-01-04|2009|   January|       1|   Sunday|     1|         N|      1|
|20090105|2009-01-05|2009|   January|       1|   Monday|     2|         Y|      1|
|20090106|2009-01-06|2009|   January|       1|  Tuesday|     3|         Y|      1|
|20090107|2009-01-07|2009|   January|       1|Wednesday|     4|         Y|      1|
|20090108|2009-01-08|2009|   January|       1| Thursday|     5|         Y|      1|
|20090109|2009-01-09|2009|   January|       1|   Friday|     6|         Y|      1|
|20090110|2009-01-10|2009|   January|       1| Saturday|     7|         N|      1|
|20090111|2009-01-11|2009|   January|       1|   Sunday|     1|         N|      1|
|20090112|2009-01-12|2009|   January|       1|   Monday|     2|         Y|      1|
|20090113|2009-01-13|2009|   January|       1|  Tuesday|     3|         Y|      1|
|20090114|2009-01-14|2009|   January|       1|Wednesday|     4|         Y|      1|
|20090115|2009-01-15|2009|   January|       1| Thursday|     5|         Y|      1|
|20090116|2009-01-16|2009|   January|       1|   Friday|     6|         Y|      1|
|20090117|2009-01-17|2009|   January|       1| Saturday|     7|         N|      1|
|20090118|2009-01-18|2009|   January|       1|   Sunday|     1|         N|      1|
|20090119|2009-01-19|2009|   January|       1|   Monday|     2|         Y|      1|
|20090120|2009-01-20|2009|   January|       1|  Tuesday|     3|         Y|      1|
+--------+----------+----+----------+--------+---------+------+----------+-------+
only showing top 20 rows

In [5]:
dim_lock = spark.read.format("delta").load("spark-warehouse/lock_dim")
dim_lock.show()

+----------+-------+----------+--------------------+------+-------+---------+-----------------+
|station_id|lock_id|station_nr|              street|number|zipcode| district|        gps_coord|
+----------+-------+----------+--------------------+------+-------+---------+-----------------+
|        12|    217|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    218|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    219|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    220|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    221|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    222|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    223|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    224|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    225|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    226|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    227|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    228|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    229|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    230|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    231|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    232|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    233|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        12|    234|       120|Schijnpoortweg (2...| 27-29|   2060|ANTWERPEN|(51.2276,4.43923)|
|        13|    235|       144|August Vermeylenl...|     7|   2050|ANTWERPEN| (51.2314,4.3787)|
|        13|    236|       144|August Vermeylenl...|     7|   2050|ANTWERPEN| (51.2314,4.3787)|
+----------+-------+----------+--------------------+------+-------+---------+-----------------+
only showing top 20 rows

In [6]:
dim_vehicle = spark.read.format("delta").load("spark-warehouse/vehicle_dim")
dim_vehicle.show()

+----------+-------------------+
|biketypeid|biketypedescription|
+----------+-------------------+
|         1|          Velo Bike|
|         2|        Velo E-Bike|
|         3|               Step|
|         4|            Scooter|
+----------+-------------------+

In [7]:
dim_weather = spark.read.format("delta").load("spark-warehouse/weather_dim")
dim_weather.show()

+----------+------------+
|weather_id|weather_type|
+----------+------------+
|         1|  Unpleasant|
|         2|    Pleasant|
|         4|     Unknown|
|         3|     Neutral|
+----------+------------+

In [8]:
dim_user = spark.read.format("delta").load("spark-warehouse/user_dim_current")
dim_user.show()

+------+-------------------+--------------------+--------------------+--------+-------+--------------------+------------+--------------------+-------------------+-------------------+--------------------+-------+
|userid|               name|               email|              street|  number|zipcode|                city|country_code|             user_sk|          scd_start|            scd_end|                 md5|current|
+------+-------------------+--------------------+--------------------+--------+-------+--------------------+------------+--------------------+-------------------+-------------------+--------------------+-------+
| 30001|   de Ruijter Maria|Maria.de.Ruijter@...|            Kallodam| 50 0802|   9120|Beveren-Waas/Haas...|          BE|e408b9fe-27d8-4ff...|1990-01-01 00:00:00|2100-12-12 00:00:00|ca6acc87cdd2dbf67...|   true|
| 30002|    Dijkstra Myrthe|Myrthe.Dijkstra@t...|    Lange Repeldreef|    539 |   2970|s Gravenwezel/Sch...|          BE|9ef0cf0d-b32e-406...|1990-01-01 00:00:00|2100-12-12 00:00:00|879e5d13c7e2ec43f...|   true|
| 30003| van der Laan Daisy|Daisy.van.der.Laa...|           Tolstraat|580 0502|   2000|           Antwerpen|          BE|2db2745f-e4f0-4cd...|1990-01-01 00:00:00|2100-12-12 00:00:00|976cd4ea7a8fd2580...|   true|
| 30004|   van der Wal Anne|Anne.van.der.Wal@...|         Zijdestraat|152 0805|   2930|          Brasschaat|          BE|c820f2c9-c956-4bb...|1990-01-01 00:00:00|2100-12-12 00:00:00|3bab3c3aa35831f15...|   true|
| 30005|      Jonker Dennis|Dennis.Jonker@tel...|           Speltlaan|227 0904|   2520|Broechem/Emblem/O...|          BE|7b4130d1-ab5a-404...|1990-01-01 00:00:00|2100-12-12 00:00:00|d17a5089ad8fdbb6b...|   true|
| 30006|        Vis Maartje|Maartje.Vis@gmail...|   Oostmalsesteenweg|    165 |   2520|Broechem/Emblem/O...|          BE|28e7aa5a-f34c-449...|1990-01-01 00:00:00|2100-12-12 00:00:00|b794a61013a504fbc...|   true|
| 30007|      van Duijn Eva|Eva.van.Duijn@gma...|         Bloemenveld|    113 |   2610| Wilrijk (Antwerpen)|          BE|b2be4f3a-18ec-4a8...|1990-01-01 00:00:00|2100-12-12 00:00:00|d65234c6e7deca332...|   true|
| 30008|       de Jong Erik|Erik.de.Jong@tele...|       Gemeenteplein|    177 |   2550|    Kontich/Waarloos|          BE|04136c21-2fc6-451...|1990-01-01 00:00:00|2100-12-12 00:00:00|bad6049b48fbe8b6b...|   true|
| 30009|       Visser Nicky|Nicky.Visser@gmai...|     Bondgenotenlaan|     56 |   2950|    Kapellen (Antw.)|          BE|d01d6c88-c4cc-44f...|1990-01-01 00:00:00|2100-12-12 00:00:00|ef1da533f3822c26c...|   true|
| 30010|     van Eck Jasper|Jasper.van.Eck@ou...|        Zilverreiger|    188 |   2970|s Gravenwezel/Sch...|          BE|c0766d99-5114-470...|1990-01-01 00:00:00|2100-12-12 00:00:00|9aa97e489491d0c3b...|   true|
| 30011|  de Groot Nathalie|Nathalie.de.Groot...|    Boudewijnsstraat|     19 |   2018|           Antwerpen|          BE|e5a74d25-bd4d-405...|1990-01-01 00:00:00|2100-12-12 00:00:00|febadbd465b9e6ef3...|   true|
| 30012|      Verweij Johan|Johan.Verweij@tel...|  Door Verstraetelei| 40 0105|   2930|          Brasschaat|          BE|4651f991-e75d-4f0...|1990-01-01 00:00:00|2100-12-12 00:00:00|12c6c910319f06e32...|   true|
| 30013|Hoogendoorn Laurens|Laurens.Hoogendoo...|          Parijslaan|    120 |   2660| Hoboken (Antwerpen)|          BE|c345d7e1-3ca3-4ed...|1990-01-01 00:00:00|2100-12-12 00:00:00|d921421c8e8cb4759...|   true|
| 30014|Thijssen Christiaan|Christiaan.Thijss...|  Reigersmolenstraat|    181 |   2531|              Vremde|          BE|c8bc82b2-ef8f-483...|1990-01-01 00:00:00|2100-12-12 00:00:00|cd6dcce2929b03f2f...|   true|
| 30015|     Verhoef Sjoerd|Sjoerd.Verhoef@te...|            Cruyslei| 18 0201|   2100|  Deurne (Antwerpen)|          BE|cc00adb4-dea2-42a...|1990-01-01 00:00:00|2100-12-12 00:00:00|77c0b1cf78b194c06...|   true|
| 30016|    Vermeer Richard|Richard.Vermeer@g...|Camiel Verstraete...|    177 |   9150|Bazel/Kruibeke/Ru...|          BE|ce82b366-6bc8-47f...|1990-01-01 00:00:00|2100-12-12 00:00:00|8825d556839fed4ad...|   true|
| 30017|       van Wijk Luc|Luc.van.Wijk@tele...|     Ruimtevaartlaan| 79 0306|   2100|  Deurne (Antwerpen)|          BE|7ec2556a-24ec-4f2...|1990-01-01 00:00:00|2100-12-12 00:00:00|2083de7c8c6b6e6fd...|   true|
| 30018|   van Hoof Monique|Monique.van.Hoof@...|    Blauwtorentunnel|119 0408|   2018|           Antwerpen|          BE|af8f28a3-08dc-4d4...|1990-01-01 00:00:00|2100-12-12 00:00:00|5d67d034b4988b44a...|   true|
| 30019| de Waal Wilhelmina|Wilhelmina.de.Waa...|         Vlietstraat|     89 |   2627|             Schelle|          BE|e885b3f1-0845-493...|1990-01-01 00:00:00|2100-12-12 00:00:00|78b3726b3a010bbe5...|   true|
| 30020|     Koopmans Jordy|Jordy.Koopmans@sc...|         Borzestraat|210 0903|   2000|           Antwerpen|          BE|c936570d-acaa-460...|1990-01-01 00:00:00|2100-12-12 00:00:00|ad0f14273b5670981...|   true|
+------+-------------------+--------------------+--------------------+--------+-------+--------------------+------------+--------------------+-------------------+-------------------+--------------------+-------+
only showing top 20 rows

In [9]:
dim_weather.createOrReplaceTempView("dimWeather")
dim_user.createOrReplaceTempView("dimUser")
dim_lock.createOrReplaceTempView("dimLock")
dim_vehicle.createOrReplaceTempView("dimVehicle")
dim_date.createOrReplaceTempView("dimDate")

In [22]:
ride_src_df.createOrReplaceTempView("rides_source")
ridesFactFromSource = spark.sql("select src.rideid as ride_id, dd.date_sk, dl.lock_id as start_lock_id, dl2.lock_id as end_lock_id, md5(concat(ride_id, dd.date_sk)) as md5 \
                                from rides_source as src \
                                left outer join dimDate as dd on src.starttime = cast(dd.date as DATE) \
                                left outer join dimLock as dl on src.startlockid = dl.lock_id \
                                left outer join dimLock as dl2 on src.endlockid = dl2.lock_id")
ridesFactFromSource.show(100)
ridesFactFromSource.createOrReplaceTempView("factRides_new")

+-------+--------+-------------+-----------+--------------------+
|ride_id| date_sk|start_lock_id|end_lock_id|                 md5|
+-------+--------+-------------+-----------+--------------------+
|      1|20150922|         4849|       3188|bc8cab957d7e02da2...|
|      2|20150922|         NULL|       NULL|f70bc90e65cc45559...|
|      3|20150922|         2046|       1951|fbdba2ebbd15003b5...|
|      4|20150922|         1821|       2186|a21759453704a0ee8...|
|      5|20150922|         6382|       2700|05df43301dc60a215...|
|      6|20150922|         NULL|       NULL|085ad6bfc0c792608...|
|      7|20150922|         1388|       3401|25197ab7dbfabb306...|
|      8|20150922|         2572|         13|8f4fa6bcd20ac709f...|
|      9|20150922|           50|       2067|e504563d627927f8b...|
|     10|20150922|         NULL|       NULL|2ceceb8878013facf...|
|     11|20150922|          985|       2148|70e459d527aa6c08a...|
|     12|20150922|         2039|       3038|fbd0d70e6d8f11e8e...|
|     13|20150922|         5619|       2717|e470247f321a3b438...|
|     14|20150922|         3531|       3554|828dc0af301c2bcc4...|
|     15|    NULL|         4849|       3188|                NULL|
|     16|    NULL|         NULL|       NULL|                NULL|
|     17|    NULL|         2046|       1951|                NULL|
|     18|    NULL|         1821|       2186|                NULL|
|     19|    NULL|         6382|       2700|                NULL|
|     20|    NULL|         NULL|       NULL|                NULL|
|     21|    NULL|         1388|       3401|                NULL|
|     22|    NULL|         2572|         13|                NULL|
|     23|    NULL|           50|       2067|                NULL|
|     24|    NULL|         NULL|       NULL|                NULL|
|     25|    NULL|          985|       2148|                NULL|
|     26|    NULL|         2039|       3038|                NULL|
|     27|    NULL|         5619|       2717|                NULL|
|     28|    NULL|         3531|       3554|                NULL|
|     29|    NULL|         4940|       1218|                NULL|
|     30|    NULL|         NULL|       NULL|                NULL|
|     31|    NULL|          574|       2440|                NULL|
|     32|    NULL|         1056|        792|                NULL|
|     33|    NULL|         6038|       5980|                NULL|
|     34|    NULL|          982|       2015|                NULL|
|     35|    NULL|         1117|        677|                NULL|
|     36|    NULL|         6421|       1208|                NULL|
|     37|    NULL|          483|        511|                NULL|
|     38|    NULL|         3316|       2517|                NULL|
|     39|    NULL|         NULL|       NULL|                NULL|
|     40|    NULL|         6539|       7205|                NULL|
|     41|    NULL|         7201|       7541|                NULL|
|     42|    NULL|         2936|        607|                NULL|
|     43|    NULL|         2507|       2365|                NULL|
|     44|    NULL|         6830|        632|                NULL|
|     45|    NULL|          615|       4172|                NULL|
|     46|    NULL|         4263|       2722|                NULL|
|     47|    NULL|         6170|        983|                NULL|
|     48|    NULL|         1542|       1012|                NULL|
|     49|    NULL|         2139|        527|                NULL|
|     50|    NULL|         2962|       2973|                NULL|
|     51|    NULL|         NULL|       NULL|                NULL|
|     52|    NULL|         NULL|       NULL|                NULL|
|     53|    NULL|         4917|       1613|                NULL|
|     54|    NULL|         1262|       4090|                NULL|
|     55|    NULL|         5854|       2701|                NULL|
|     56|    NULL|          632|       2457|                NULL|
|     57|    NULL|          513|       2242|                NULL|
|     58|    NULL|         5378|       2508|                NULL|
|     59|    NULL|         2244|        258|                NULL|
|     60|    NULL|         NULL|       NULL|                NULL|
|     61|    NULL|         2141|        981|                NULL|
|     62|    NULL|         3125|       1724|                NULL|
|     63|    NULL|         2432|       2137|                NULL|
|     64|    NULL|         1730|       3080|                NULL|
|     65|    NULL|         3737|        702|                NULL|
|     66|    NULL|          535|       5297|                NULL|
|     67|    NULL|         1494|       5591|                NULL|
|     68|    NULL|         3494|        779|                NULL|
|     69|    NULL|         1797|        591|                NULL|
|     70|    NULL|         3821|        626|                NULL|
|     71|    NULL|         5778|       1618|                NULL|
|     72|    NULL|         5138|        546|                NULL|
|     73|    NULL|          243|        720|                NULL|
|     74|    NULL|         2184|       6583|                NULL|
|     75|    NULL|         3100|       5590|                NULL|
|     76|    NULL|         4181|        979|                NULL|
|     77|    NULL|         3165|       2782|                NULL|
|     78|    NULL|         4470|        709|                NULL|
|     79|    NULL|         3260|       1411|                NULL|
|     80|    NULL|         3253|       5866|                NULL|
|     81|    NULL|         1946|       5316|                NULL|
|     82|    NULL|         NULL|       NULL|                NULL|
|     83|    NULL|         7017|        509|                NULL|
|     84|    NULL|         NULL|       NULL|                NULL|
|     85|    NULL|         2865|       1474|                NULL|
|     86|    NULL|          750|       5746|                NULL|
|     87|    NULL|         5752|       1175|                NULL|
|     88|    NULL|         6867|       2959|                NULL|
|     89|    NULL|         3415|       2570|                NULL|
|     90|    NULL|         NULL|       NULL|                NULL|
|     91|    NULL|         7444|       2652|                NULL|
|     92|    NULL|         1364|       2748|                NULL|
|     93|    NULL|         7185|       3112|                NULL|
|     94|    NULL|         2408|       2891|                NULL|
|     95|    NULL|         1439|       2987|                NULL|
|     96|    NULL|         2965|       1736|                NULL|
|     97|    NULL|         3586|       6498|                NULL|
|     98|    NULL|         4004|       1031|                NULL|
|     99|    NULL|         1865|       7530|                NULL|
|    100|    NULL|         NULL|       NULL|                NULL|
+-------+--------+-------------+-----------+--------------------+
only showing top 100 rows