In [23]:
import ConnectionConfig as cc
from delta import DeltaTable
from datetime import datetime

In [24]:
cc.setupEnvironment()
spark = cc.startLocalCluster("dimUser")
spark.getActiveSession()

In [25]:
run_timestamp =datetime.now()

In [26]:
dt_dimUserCurrent = DeltaTable.forPath(spark,"./spark-warehouse/user_dim_current")

In [27]:
dt_dimUserCurrent.toDF().createOrReplaceTempView("user_dim_current")

In [28]:
cc.set_connectionProfile("veloDB")

df_operational_users = spark.read \
    .format("jdbc") \
    .option("driver", cc.get_Property("driver")) \
    .option("url", cc.create_jdbc()) \
    .option("dbtable", "velo_users") \
    .option("user", cc.get_Property("username")) \
    .option("password", cc.get_Property("password")) \
    .load()

df_operational_users.createOrReplaceTempView("operational_users")

In [29]:
df_user_dim_new = spark.sql( """
    SELECT uuid() as source_userSK,  
           userid as source_user_id,  
           name as source_name,  
           zipcode as source_zipcode,  
           city as source_city,  
           md5(concat(name, zipcode, city)) as source_md5  
    FROM operational_users
""")

df_user_dim_new.createOrReplaceTempView("user_dim_new")

# Debugging
df_user_dim_new.show()

+--------------------+--------------+--------------------+--------------+--------------------+--------------------+
|       source_userSK|source_user_id|         source_name|source_zipcode|         source_city|          source_md5|
+--------------------+--------------+--------------------+--------------+--------------------+--------------------+
|89844ca0-80db-48b...|             1|         Bouman Lars|          2060|           Antwerpen|5326bbf5b41d3f9dc...|
|0e1a4700-2ba8-4d3...|             2|   van der Zee Julia|          2610| Wilrijk (Antwerpen)|1491518a1ac33937d...|
|53a96556-56a1-47c...|             3|     de Boer Ricardo|          2160|           Wommelgem|2b6e4d3ed6e925255...|
|c685bed1-0b5a-422...|             4|      Willems Angela|          2900|             Schoten|49a5ddc033ae5f2b7...|
|b29baab0-50e0-44c...|             5|    Heijnen Patricia|          2540|                Hove|c87269ed29b9096f7...|
|8672aab5-1ce2-45d...|             6|      Driessen Anouk|          2650|              Edegem|ae81e29e2fb7849e7...|
|b71c1add-54bd-447...|             7|      Dijkstra Frank|          2900|             Schoten|e775529a4683e57bb...|
|862af746-89ec-470...|             8|  den Hartog Suzanne|          2170| Merksem (Antwerpen)|064992b16738f0561...|
|f509b589-f11f-467...|             9|            Smit Tim|          2600| Berchem (Antwerpen)|6a3967c7c70d07c17...|
|f0d41950-e891-458...|            10|van der Steen Carmen|          2020|           Antwerpen|08edabd4bcab22ee8...|
|dc27a13f-c985-422...|            11| de Ruijter Daniëlle|          2070|  Burcht/Zwijndrecht|56b0d91f98d932fcd...|
|1eb2a166-5dcf-45a...|            12|        Simons Thijs|          2040|Antwerpen/Berendr...|e05f994d152f2fb2b...|
|51b53aef-e35a-442...|            13|          Groen Rens|          2170| Merksem (Antwerpen)|7618cf4e6b3622250...|
|d7b9de23-c111-418...|            14|   van der Veer Romy|          2550|    Kontich/Waarloos|45ed4b05e4166a6ad...|
|380e8abd-8ea9-434...|            15|           Hoek Emma|          2520|Broechem/Emblem/O...|4724a5cab65d74945...|
|db278312-03bb-49e...|            16|     Stevens Suzanne|          2531|              Vremde|ba2010bb5c7947a1c...|
|290a8827-0c74-425...|            17|van den Bosch Rutger|          2100|  Deurne (Antwerpen)|7ca495285fda57f47...|
|b0afa03f-75dd-4a4...|            18|      Veldman Angela|          2540|                Hove|381655805c09b7298...|
|6fb19eb6-43ae-408...|            19|     Bakker Daniëlle|          2160|           Wommelgem|9d9ec1e6af65311f5...|
|6d3d586a-f408-40a...|            20|      Vink Elisabeth|          2160|           Wommelgem|570f58f530cacfae1...|
+--------------------+--------------+--------------------+--------------+--------------------+--------------------+
only showing top 20 rows

In [30]:
detectedChanges = spark.sql("""
    SELECT 
        source.source_userSK,  
        source.source_user_id,  
        source.source_name,  
        source.source_zipcode,  
        source.source_city,  
        source.source_md5,  
        dwh.source_user_id AS dwh_user_id,  -- Rename to avoid duplicate column names
        dwh.source_md5 AS dwh_md5 
    FROM user_dim_new source  
    LEFT OUTER JOIN user_dim_current dwh  
    ON dwh.source_user_id = source.source_user_id AND dwh.current = true  
    WHERE dwh.source_user_id IS NULL OR dwh.source_md5 <> source.source_md5
""")

detectedChanges.createOrReplaceTempView("detectedChanges")

In [31]:
df_user_upserts = spark.sql(f"""
    SELECT 
        source_userSK as userSK,
        source_user_id as user_id,
        source_name as name,
        source_city as city,
        source_zipcode as zipcode,
        to_timestamp('{run_timestamp}') as scd_start,
        to_timestamp('2100-12-12', 'yyyy-MM-dd') as scd_end,
        source_md5 as md5,
        true as current
    FROM detectedChanges  
    UNION
    SELECT  
        userSK,
        source_user_id,
        source_name,
        source_city,
        source_zipcode,
        scd_start,
        to_timestamp('{run_timestamp}') as scd_end,
        source_md5, 
        false 
    FROM user_dim_current  --  Use user_dim_current instead of detectedChanges
    WHERE source_user_id IN (SELECT source_user_id FROM detectedChanges)  
    AND current = true  --  Ensure we only expire current records
""")

In [33]:
df_user_upserts.createOrReplaceTempView("upserts")

In [34]:

# DEBUG CODE TO SHOW CONTENT OF UPSERTS
spark.sql("select * from upserts").show()

+--------------------+-------+--------------------+--------------------+-------+--------------------+-------------------+--------------------+-------+
|              userSK|user_id|                name|                city|zipcode|           scd_start|            scd_end|                 md5|current|
+--------------------+-------+--------------------+--------------------+-------+--------------------+-------------------+--------------------+-------+
|8672aab5-1ce2-45d...|      6|      Driessen Anouk|              Edegem|   2650|2025-03-12 10:16:...|2100-12-12 00:00:00|ae81e29e2fb7849e7...|   true|
|f0d41950-e891-458...|     10|van der Steen Carmen|           Antwerpen|   2020|2025-03-12 10:16:...|2100-12-12 00:00:00|08edabd4bcab22ee8...|   true|
|dc27a13f-c985-422...|     11| de Ruijter Daniëlle|  Burcht/Zwijndrecht|   2070|2025-03-12 10:16:...|2100-12-12 00:00:00|56b0d91f98d932fcd...|   true|
|d7b9de23-c111-418...|     14|   van der Veer Romy|    Kontich/Waarloos|   2550|2025-03-12 10:16:...|2100-12-12 00:00:00|45ed4b05e4166a6ad...|   true|
|6d3d586a-f408-40a...|     20|      Vink Elisabeth|           Wommelgem|   2160|2025-03-12 10:16:...|2100-12-12 00:00:00|570f58f530cacfae1...|   true|
|9bd3474b-7688-410...|     21|        Muller Simon|           Antwerpen|   2000|2025-03-12 10:16:...|2100-12-12 00:00:00|0641e02a48af9f402...|   true|
|4a1aa608-ac01-492...|     23|     Gerrits Marleen|             Mortsel|   2640|2025-03-12 10:16:...|2100-12-12 00:00:00|bb2075387eee2e462...|   true|
|6d824f0f-8057-4e1...|     33|      Hendriks Tessa|             Schoten|   2900|2025-03-12 10:16:...|2100-12-12 00:00:00|89268f95275de5f4a...|   true|
|63231095-78f4-479...|     34|        Janssen Sven|Beveren-Waas/Haas...|   9120|2025-03-12 10:16:...|2100-12-12 00:00:00|5167030837063ffdc...|   true|
|4f0c7b74-f6c5-4ee...|     40|   van der Laan Nick|Broechem/Emblem/O...|   2520|2025-03-12 10:16:...|2100-12-12 00:00:00|b5b81d2b6329d9868...|   true|
|3f8f82ca-8f4e-413...|     47| van den Bosch Esmée|             Mortsel|   2640|2025-03-12 10:16:...|2100-12-12 00:00:00|c6961f2430171dda6...|   true|
|b3598067-76a1-43b...|     48|         Post Martin|Borgerhout (Antwe...|   2140|2025-03-12 10:16:...|2100-12-12 00:00:00|83ad5c80487bcde7e...|   true|
|6fc4dc03-450b-466...|     50|     Venema Matthijs|Broechem/Emblem/O...|   2520|2025-03-12 10:16:...|2100-12-12 00:00:00|fa6fd76c2210fd90d...|   true|
|67b73e09-d6bb-421...|     52|     van Egmond Niek|                Hove|   2540|2025-03-12 10:16:...|2100-12-12 00:00:00|f7356ff8683793e1d...|   true|
|f72213bd-b751-40f...|     55|       Geurts Pieter|           Antwerpen|   2000|2025-03-12 10:16:...|2100-12-12 00:00:00|7dd395c1b1a390da8...|   true|
|7aa0ce8d-d5b2-42f...|     65|    van Rooijen Emma| Reet/Rumst/Terhagen|   2840|2025-03-12 10:16:...|2100-12-12 00:00:00|587799e72ba9dc5da...|   true|
|535bd677-14e3-4a8...|     67|       Verhoef Menno| Hoboken (Antwerpen)|   2660|2025-03-12 10:16:...|2100-12-12 00:00:00|bc6601e6bf167eacf...|   true|
|729c3692-b56c-4b5...|     68|          Kroon Vera|    Kontich/Waarloos|   2550|2025-03-12 10:16:...|2100-12-12 00:00:00|590eec7c31437d117...|   true|
|5513a066-9a1c-49c...|     69|    Roelofs Jennifer| Reet/Rumst/Terhagen|   2840|2025-03-12 10:16:...|2100-12-12 00:00:00|60e6ed039330b6e81...|   true|
|c409fdd2-7a2a-470...|     77|          Prins Joey|           Antwerpen|   2000|2025-03-12 10:16:...|2100-12-12 00:00:00|8edc01e4f9681203a...|   true|
+--------------------+-------+--------------------+--------------------+-------+--------------------+-------------------+--------------------+-------+
only showing top 20 rows

In [35]:

spark.sql("""
    MERGE INTO user_dim_current AS target
    USING upserts AS source
    ON target.source_user_id = source.userID AND target.current = TRUE

    WHEN MATCHED AND target.source_md5 <> source.source_md5 THEN 
        UPDATE SET 
            target.scd_end = source.scd_start, 
            target.current = FALSE

    WHEN NOT MATCHED THEN 
        INSERT (userSK, source_user_id, source_name, source_city, source_zipcode, scd_start, scd_end, source_md5, current) 
        VALUES (source.userSK, source.userID, source.name, source.city, source.zipcode, source.scd_start, source.scd_end, source.source_md5, source.current);
""")

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `source`.`userID` cannot be resolved. Did you mean one of the following? [`city`, `current`, `md5`, `name`, `scd_end`, `scd_start`, `userSK`, `user_id`, `zipcode`].; line 13 pos 31

In [44]:
dt_dimUserCurrent.toDF().sort("source_user_id", "scd_start").show(100)

+--------------------+--------------+--------------------+--------------------+--------------+-------------------+-------------------+--------------------+-------+
|              userSK|source_user_id|         source_name|         source_city|source_zipcode|          scd_start|            scd_end|          source_md5|current|
+--------------------+--------------+--------------------+--------------------+--------------+-------------------+-------------------+--------------------+-------+
|73cac594-54c6-4c9...|             1|         Bouman Lars|           Antwerpen|          2060|1999-01-01 00:00:00|2100-12-12 00:00:00|976f30b5dd22c74bb...|   true|
|a2e2c171-d426-4f6...|             2|   van der Zee Julia| Wilrijk (Antwerpen)|          2610|1999-01-01 00:00:00|2100-12-12 00:00:00|c34f85e721c0459e3...|   true|
|0cf8b315-a89e-44b...|             3|     de Boer Ricardo|           Wommelgem|          2160|1999-01-01 00:00:00|2100-12-12 00:00:00|7b8896e6b68fdbcd6...|   true|
|f6b22ebe-5b5f-4bf...|             4|      Willems Angela|             Schoten|          2900|1999-01-01 00:00:00|2100-12-12 00:00:00|e4c3d29a22d12881e...|   true|
|fe5ebe66-8f5a-49f...|             5|    Heijnen Patricia|                Hove|          2540|1999-01-01 00:00:00|2100-12-12 00:00:00|1c98c7af02e00fd83...|   true|
|1059109b-79b3-4ab...|             6|      Driessen Anouk|              Edegem|          2650|1999-01-01 00:00:00|2100-12-12 00:00:00|7ec6f63578edcbfb9...|   true|
|97af2127-22c5-4bd...|             7|      Dijkstra Frank|             Schoten|          2900|1999-01-01 00:00:00|2100-12-12 00:00:00|7f9b5868a2342a0b4...|   true|
|5a97fb75-dce3-447...|             8|  den Hartog Suzanne| Merksem (Antwerpen)|          2170|1999-01-01 00:00:00|2100-12-12 00:00:00|70444d96a204dd6a3...|   true|
|64b4e8ba-5524-4cd...|             9|            Smit Tim| Berchem (Antwerpen)|          2600|1999-01-01 00:00:00|2100-12-12 00:00:00|4cda5391c27cea8c9...|   true|
|a134b0c8-8236-4ef...|            10|van der Steen Carmen|           Antwerpen|          2020|1999-01-01 00:00:00|2100-12-12 00:00:00|596a7838e7158e59b...|   true|
|0dbbca80-eeda-47b...|            11| de Ruijter Daniëlle|  Burcht/Zwijndrecht|          2070|1999-01-01 00:00:00|2100-12-12 00:00:00|f4d1dfe411a80f792...|   true|
|8c9c4278-7838-48b...|            12|        Simons Thijs|Antwerpen/Berendr...|          2040|1999-01-01 00:00:00|2100-12-12 00:00:00|b6768e0e009a760c2...|   true|
|feeb81e7-72ec-489...|            13|          Groen Rens| Merksem (Antwerpen)|          2170|1999-01-01 00:00:00|2100-12-12 00:00:00|03b998705111e0d9f...|   true|
|85c068e0-161f-4da...|            14|   van der Veer Romy|    Kontich/Waarloos|          2550|1999-01-01 00:00:00|2100-12-12 00:00:00|446430c5955dd65ed...|   true|
|c92c0cfd-1010-42d...|            15|           Hoek Emma|Broechem/Emblem/O...|          2520|1999-01-01 00:00:00|2100-12-12 00:00:00|4871f5a77290e2c5f...|   true|
|bf3f6751-881a-45c...|            16|     Stevens Suzanne|              Vremde|          2531|1999-01-01 00:00:00|2100-12-12 00:00:00|18f9ddb6fc877b523...|   true|
|8a69dbbf-687e-46d...|            17|van den Bosch Rutger|  Deurne (Antwerpen)|          2100|1999-01-01 00:00:00|2100-12-12 00:00:00|83e236ed770ed202d...|   true|
|423d5a37-fa09-44e...|            18|      Veldman Angela|                Hove|          2540|1999-01-01 00:00:00|2100-12-12 00:00:00|45377e16aafaaf475...|   true|
|ec43e048-53b0-471...|            19|     Bakker Daniëlle|           Wommelgem|          2160|1999-01-01 00:00:00|2100-12-12 00:00:00|54c530a765a5bdfc5...|   true|
|f0b49418-ad02-4d6...|            20|      Vink Elisabeth|           Wommelgem|          2160|1999-01-01 00:00:00|2100-12-12 00:00:00|5c1f8d49702f4c802...|   true|
|f49c4fa7-2f9f-43e...|            21|        Muller Simon|           Antwerpen|          2000|1999-01-01 00:00:00|2100-12-12 00:00:00|b2818425376c71795...|   true|
|029c5f76-46ff-4f7...|            22|     Dijkstra Justin|              Vremde|          2531|1999-01-01 00:00:00|2100-12-12 00:00:00|62a86c7b8fca7ebcb...|   true|
|27db246f-e8da-457...|            23|     Gerrits Marleen|             Mortsel|          2640|1999-01-01 00:00:00|2100-12-12 00:00:00|c68808450abe59000...|   true|
|351e8c50-9311-45e...|            24|        Schepers Roy|           Antwerpen|          2020|1999-01-01 00:00:00|2100-12-12 00:00:00|2dc5bb562f39cd2b9...|   true|
|c7cda650-e9ce-45c...|            25|        Blok Vincent|             Schoten|          2900|1999-01-01 00:00:00|2100-12-12 00:00:00|f7105d03d13ac98ce...|   true|
|360b64b7-0760-4bb...|            26|    van Velzen Joris|    Kontich/Waarloos|          2550|1999-01-01 00:00:00|2100-12-12 00:00:00|22a5fad916bb5cdfa...|   true|
|866652d9-0395-44e...|            27|   Terpstra Jonathan|           Wommelgem|          2160|1999-01-01 00:00:00|2100-12-12 00:00:00|775a1a69ce9674fc7...|   true|
|0e8b175d-b7ac-440...|            28|       de Groot Ilse|            Boechout|          2530|1999-01-01 00:00:00|2100-12-12 00:00:00|79ea2700434c1b21f...|   true|
|f2651a1e-a48e-45f...|            29|        Brinkman Eva|          Brasschaat|          2930|1999-01-01 00:00:00|2100-12-12 00:00:00|3a50d915967d40fbf...|   true|
|baad7080-d95f-451...|            30|           Boer René|Massenhoven/Viers...|          2240|1999-01-01 00:00:00|2100-12-12 00:00:00|42bbaf82d726149cc...|   true|
|1aba7e1f-ac04-470...|            31|      Verheijen Rens|           Antwerpen|          2000|1999-01-01 00:00:00|2100-12-12 00:00:00|004a63c5107b5199f...|   true|
|a7f0e6cf-01e7-499...|            32|        Martens Sven|  Burcht/Zwijndrecht|          2070|1999-01-01 00:00:00|2100-12-12 00:00:00|1dee7b0f2a62c89a5...|   true|
|afab9ac0-a97a-4e9...|            33|      Hendriks Tessa|             Schoten|          2900|1999-01-01 00:00:00|2100-12-12 00:00:00|b91f2b7a95a555a6a...|   true|
|27166fa3-7eaa-4f3...|            34|        Janssen Sven|Beveren-Waas/Haas...|          9120|1999-01-01 00:00:00|2100-12-12 00:00:00|4a60a98ff000a4300...|   true|
|07b4714e-ead1-4ff...|            35|     van Rijn Daphne|             Mortsel|          2640|1999-01-01 00:00:00|2100-12-12 00:00:00|03f1f486f167ee5ae...|   true|
|74990d03-9353-43d...|            36| van den Bos Jacobus|           Antwerpen|          2030|1999-01-01 00:00:00|2100-12-12 00:00:00|497dca8c89eb57bcf...|   true|
|c32fa094-d8ad-452...|            37|        Postma Niels|  Burcht/Zwijndrecht|          2070|1999-01-01 00:00:00|2100-12-12 00:00:00|6a99f0359efd009f0...|   true|
|de42fa3f-b29b-4d0...|            38|       Peters Stefan|           Antwerpen|          2018|1999-01-01 00:00:00|2100-12-12 00:00:00|40db3e2441a069292...|   true|
|3ff70775-65c6-4cb...|            39|        Snijders Max|             Schoten|          2900|1999-01-01 00:00:00|2100-12-12 00:00:00|417ef436ba68fbad6...|   true|
|3dffd880-dc8c-4be...|            40|   van der Laan Nick|Broechem/Emblem/O...|          2520|1999-01-01 00:00:00|2100-12-12 00:00:00|94533ee44ff0d9f8b...|   true|
|058d353c-7c35-411...|            41|van den Heuvel St...| Wilrijk (Antwerpen)|          2610|1999-01-01 00:00:00|2100-12-12 00:00:00|9b3e612a077496c4e...|   true|
|f8a1cd5a-199f-422...|            42|  van der Velden Tom|             Schoten|          2900|1999-01-01 00:00:00|2100-12-12 00:00:00|de4f52bcb1a9ee138...|   true|
|8b09d728-410d-425...|            43|      Bos Wilhelmina|           Antwerpen|          2030|1999-01-01 00:00:00|2100-12-12 00:00:00|264d8c6562a717de4...|   true|
|9aed9149-67e7-43e...|            44|  de Vries Alexander|    Kontich/Waarloos|          2550|1999-01-01 00:00:00|2100-12-12 00:00:00|e68fd4c1cfe2b19d1...|   true|
|00deceb4-c77c-4b9...|            45|    de Lange Danique|Beveren-Waas/Haas...|          9120|1999-01-01 00:00:00|2100-12-12 00:00:00|c5e0cd070fafb1298...|   true|
|e0e357df-8bfa-40b...|            46|         Baars Kevin|Broechem/Emblem/O...|          2520|1999-01-01 00:00:00|2100-12-12 00:00:00|8e78776056169bdb5...|   true|
|e7208516-2bac-473...|            47| van den Bosch Esmée|             Mortsel|          2640|1999-01-01 00:00:00|2100-12-12 00:00:00|6cd03caed4d464158...|   true|
|a934b5c0-097a-478...|            48|         Post Martin|Borgerhout (Antwe...|          2140|1999-01-01 00:00:00|2100-12-12 00:00:00|8e72fbdfe63c738ac...|   true|
|91a83bc5-625e-4f7...|            49|        Vermeer Vera|  Deurne (Antwerpen)|          2100|1999-01-01 00:00:00|2100-12-12 00:00:00|0831e0601efcfee5d...|   true|
|8edc0506-f2f8-477...|            50|     Venema Matthijs|Broechem/Emblem/O...|          2520|1999-01-01 00:00:00|2100-12-12 00:00:00|0154d2ba8cf8bc3bd...|   true|
|4bdd22ab-cb4c-476...|            51|         Faber Joris|            Boechout|          2530|1999-01-01 00:00:00|2100-12-12 00:00:00|5e60440fd1298f3e1...|   true|
|1b398a08-71b5-40a...|            52|     van Egmond Niek|                Hove|          2540|1999-01-01 00:00:00|2100-12-12 00:00:00|a56125281a45270b2...|   true|
|2ed7f443-6e0f-41c...|            53|           Klein Rik|Broechem/Emblem/O...|          2520|1999-01-01 00:00:00|2100-12-12 00:00:00|0ddec2efe0b389574...|   true|
|3b1543e1-7b86-48c...|            54|van der Horst Maaike|    Kapellen (Antw.)|          2950|1999-01-01 00:00:00|2100-12-12 00:00:00|28b270f250e1e4826...|   true|
|7b5315f3-e572-438...|            55|       Geurts Pieter|           Antwerpen|          2000|1999-01-01 00:00:00|2100-12-12 00:00:00|9b6ab7ffd69b04d6b...|   true|
|e7330843-196e-486...|            56|         Prins Elise| Berchem (Antwerpen)|          2600|1999-01-01 00:00:00|2100-12-12 00:00:00|edf20162e6401c410...|   true|
|39d1dcea-21de-441...|            57|       van Eijk Timo|                Niel|          2845|1999-01-01 00:00:00|2100-12-12 00:00:00|083df36236dd8b5b2...|   true|
|7cf3113d-3b2d-48a...|            58|  van Rooij Jennifer|           Antwerpen|          2018|1999-01-01 00:00:00|2100-12-12 00:00:00|b993d6e5891bfd11c...|   true|
|ee195e03-b9e5-454...|            59|     van Velzen Leon|Beveren-Waas/Haas...|          9120|1999-01-01 00:00:00|2100-12-12 00:00:00|91f96209fff46fb06...|   true|
|10bfa7c2-415e-4c6...|            60|   Schipper Bastiaan|  Deurne (Antwerpen)|          2100|1999-01-01 00:00:00|2100-12-12 00:00:00|521e1b70093d4f83c...|   true|
|bbf621a0-fdb0-48b...|            61|van Leeuwen Samantha|s Gravenwezel/Sch...|          2970|1999-01-01 00:00:00|2100-12-12 00:00:00|6d1a33231558bc061...|   true|
|479c1dd4-91ac-498...|            62|       Joosten Bryan|             Schelle|          2627|1999-01-01 00:00:00|2100-12-12 00:00:00|3fcbc39f7c50cd124...|   true|
|d4b22a91-cab5-449...|            63|      Stevens Sandra|    Kontich/Waarloos|          2550|1999-01-01 00:00:00|2100-12-12 00:00:00|1968b8a78d3f2c93e...|   true|
|77e65726-f885-493...|            64|  van Rooijen Wouter|s Gravenwezel/Sch...|          2970|1999-01-01 00:00:00|2100-12-12 00:00:00|0e03c07edef70f5ae...|   true|
|faf69b68-040f-4a8...|            65|    van Rooijen Emma| Reet/Rumst/Terhagen|          2840|1999-01-01 00:00:00|2100-12-12 00:00:00|ed9fb3ee08185221b...|   true|
|ae39ccab-4005-443...|            66|        Hoekstra Rob| Hoboken (Antwerpen)|          2660|1999-01-01 00:00:00|2100-12-12 00:00:00|be5eb8dfd162641b6...|   true|
|1cc6e79d-1c9b-482...|            67|       Verhoef Menno| Hoboken (Antwerpen)|          2660|1999-01-01 00:00:00|2100-12-12 00:00:00|60f04361aafd8d566...|   true|
|ed7a3f6c-f534-487...|            68|          Kroon Vera|    Kontich/Waarloos|          2550|1999-01-01 00:00:00|2100-12-12 00:00:00|6ada2d97a647b3d9c...|   true|
|169949aa-04a7-416...|            69|    Roelofs Jennifer| Reet/Rumst/Terhagen|          2840|1999-01-01 00:00:00|2100-12-12 00:00:00|193ec209eafc02d89...|   true|
|bee37a61-2f7c-463...|            70|        Wouters Joep|Beveren-Waas/Haas...|          9120|1999-01-01 00:00:00|2100-12-12 00:00:00|626f4f4635d357105...|   true|
|3f4fca89-f942-49a...|            71|    Simons Charlotte|                Niel|          2845|1999-01-01 00:00:00|2100-12-12 00:00:00|9dd4a050a7d06cc30...|   true|
|2763e640-b8fe-4b5...|            72|     Rutten Jennifer|           Antwerpen|          2018|1999-01-01 00:00:00|2100-12-12 00:00:00|28ad8cef762db86e5...|   true|
|49d2fbb3-12d8-430...|            73|    van Rijn Johanna|s Gravenwezel/Sch...|          2970|1999-01-01 00:00:00|2100-12-12 00:00:00|ee3a91256c399ffe9...|   true|
|dc48d1f5-95fc-48e...|            74|          Postma Noa|  Burcht/Zwijndrecht|          2070|1999-01-01 00:00:00|2100-12-12 00:00:00|2634b98379b38c220...|   true|
|88a10ce9-222f-421...|            75| van Lieshout Julian|          Brasschaat|          2930|1999-01-01 00:00:00|2100-12-12 00:00:00|6ba6669833fc411e6...|   true|
|710f2e14-f41f-4fb...|            76| de Bruin Wilhelmina|    Kapellen (Antw.)|          2950|1999-01-01 00:00:00|2100-12-12 00:00:00|fa14850908e997226...|   true|
|2207e032-e65c-402...|            77|          Prins Joey|           Antwerpen|          2000|1999-01-01 00:00:00|2100-12-12 00:00:00|30a2a64b7e5e9d150...|   true|
|8e2fe529-92f6-4d9...|            78|  van den Bosch Iris|    Kapellen (Antw.)|          2950|1999-01-01 00:00:00|2100-12-12 00:00:00|b4a5f089129a0ad4d...|   true|
|8f139ea3-d6ee-4e9...|            79|     Baars Alexander|Broechem/Emblem/O...|          2520|1999-01-01 00:00:00|2100-12-12 00:00:00|bda1237c8c2a7b5ba...|   true|
|2aee5f5d-dea2-464...|            80|     Visser Patricia|                Hove|          2540|1999-01-01 00:00:00|2100-12-12 00:00:00|778971124de6d6e04...|   true|
|beed889a-01ac-444...|            81|  van der Meer Jordi| Wilrijk (Antwerpen)|          2610|1999-01-01 00:00:00|2100-12-12 00:00:00|0d72ef2daecbe65a0...|   true|
|82857be4-5d28-407...|            82|    van Rooij Rachel| Berchem (Antwerpen)|          2600|1999-01-01 00:00:00|2100-12-12 00:00:00|b049c9610f1813e07...|   true|
|454b50ed-1f6a-459...|            83|      Dekkers Casper|  Deurne (Antwerpen)|          2100|1999-01-01 00:00:00|2100-12-12 00:00:00|35a04c619cc1bb580...|   true|
|e949a788-53a7-49b...|            84|       Boersma Jordi|Broechem/Emblem/O...|          2520|1999-01-01 00:00:00|2100-12-12 00:00:00|c023ad9b859edf2d1...|   true|
|d70e5ae4-c704-4e0...|            85|      van Gils Sarah|  Burcht/Zwijndrecht|          2070|1999-01-01 00:00:00|2100-12-12 00:00:00|78224aac58d1e9568...|   true|
|91ee6917-d734-4c1...|            86|       Kuijpers Emma|Beveren-Waas/Haas...|          9120|1999-01-01 00:00:00|2100-12-12 00:00:00|410ced85461a47976...|   true|
|00705af0-bfbf-452...|            87|         Joosten Rik|Antwerpen/Berendr...|          2040|1999-01-01 00:00:00|2100-12-12 00:00:00|15a30153f45c80ec6...|   true|
|cdb0bccb-5f5d-4a0...|            88|     Wiersma Michael|Bazel/Kruibeke/Ru...|          9150|1999-01-01 00:00:00|2100-12-12 00:00:00|4104e88ccf09fe1a6...|   true|
|0fe2c8d5-f2f2-4a2...|            89|        Faber Nienke|           Antwerpen|          2000|1999-01-01 00:00:00|2100-12-12 00:00:00|6c4276b35ac19fa41...|   true|
|2d5f0364-6887-4e5...|            90|       Timmerman Rob|  Deurne (Antwerpen)|          2100|1999-01-01 00:00:00|2100-12-12 00:00:00|3fd749a1e2c6e5a6a...|   true|
|f510fa76-fd9a-422...|            91|         Bosma Jordy| Berchem (Antwerpen)|          2600|1999-01-01 00:00:00|2100-12-12 00:00:00|ef35b8885bb951b14...|   true|
|cd2cd0ab-8b95-401...|            92|     Smulders Sjoerd| Wilrijk (Antwerpen)|          2610|1999-01-01 00:00:00|2100-12-12 00:00:00|04a08e72b3bdc8693...|   true|
|50fa3a24-1fe5-43f...|            93|     Kuijpers Simone|             Mortsel|          2640|1999-01-01 00:00:00|2100-12-12 00:00:00|9d5350bb3e9eace7f...|   true|
|b9c4cca3-8afc-469...|            94|   van Dalen Melanie|s Gravenwezel/Sch...|          2970|1999-01-01 00:00:00|2100-12-12 00:00:00|7fba5058b4022f2e6...|   true|
|85da450b-6a54-478...|            95|      Verhagen Mandy|           Antwerpen|          2000|1999-01-01 00:00:00|2100-12-12 00:00:00|a52cd7bc120bca4f5...|   true|
|15f15943-e164-465...|            96|  van den Akker Nick|    Kapellen (Antw.)|          2950|1999-01-01 00:00:00|2100-12-12 00:00:00|33f45b40bab2b4c96...|   true|
|965cd2f0-19c3-452...|            97|     Hendriks Carmen|s Gravenwezel/Sch...|          2970|1999-01-01 00:00:00|2100-12-12 00:00:00|d2f6529f7da42c4a8...|   true|
|340cc1f9-c3a6-4ef...|            98|      Franken Yvonne|           Antwerpen|          2030|1999-01-01 00:00:00|2100-12-12 00:00:00|24672d2928c12ab5b...|   true|
|3cc3bc05-f427-404...|            99|      Terpstra Manon|Borgerhout (Antwe...|          2140|1999-01-01 00:00:00|2100-12-12 00:00:00|594c5e6f32b827eff...|   true|
|1e7da954-d799-48a...|           100|   Boonstra Patricia|Beveren-Waas/Haas...|          9120|1999-01-01 00:00:00|2100-12-12 00:00:00|f57f8f7930e03edbf...|   true|
+--------------------+--------------+--------------------+--------------------+--------------+-------------------+-------------------+--------------------+-------+
only showing top 100 rows

In [45]:
spark.stop()